.mainSection {
    background-color: #90EE90;
    float: left;
    width: 40%;
    padding: 30px;
    height: 90%;
    font-family: verdana, arial, sans-serif;
    font-size: 16px;
}

.errors {
    color: red;
    text-align: left;
    font-family: verdana, arial, sans-serif;
    font-size: 18px;
}

#submit {
    color: #fff;
    width: 135px;
    height: 60px;
    border: none;
    margin: 0;
    padding: 0;
    background: #0c0;
    font-family: verdana, arial, sans-serif;
    font-size: 16px;
}



